@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;

}
/*Header*/
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  height: 3.5%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1ch;
  
}

li a {
  text-decoration: none;
  font: size 18px;
  color:#e5e7eb;
}

/*Section 1*/

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}

.hero-box {
  display: flex;
  max-width: 45ch;
  flex-flow: row wrap;
  justify-content: flex-start;

}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
  margin: auto;
}

.hero-secondary{
  font-size: 18px;
  color: #e5e7eb;
  margin: auto;
}

.top-button {
  background-color: #3882f6;
  color: #f9faf8;
  margin-top: 1ch;
}

/*Section 2*/

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.box-row{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}



.s2box {
  border-radius: 25px;
  border: 2px solid #3882f6;
  padding: 20px;
  width: 200px;
  height: 150px;
  

}

.box-msg{
display: flex;
flex-direction: column;

}

.box-text{
max-width: 200px;
}

/* Section 3*/

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.quote-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.quote{
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  max-width: 45ch;
}

.attribution{
  align-self: flex-end;
  max-width: 45ch;
}

/*section 4*/

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-box{ 
  background-color: #3882f6;
  display: flex;
  color: #f9faf8;
  padding: 25px;

  justify-content: space-evenly;
  align-items: center;
  
  width: 80%
;
}

.action-text-main, .action-text-sub {
  margin: auto;
}

.action-text-main {
  font-size: 24px;
}

.action-text-sub {
  font-size: 18px;
}

.bottom-button{
  background-color: #3882f6;
  color: #f9faf8;
  border: #f9faf8 solid;
  align-self: center;
  border-radius: 10px;
  width: 100px;

}

/*footer*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  font-size: 12px;
  color: #e5e7eb;
  padding: 5px;
  height: 3.5%;
}